{
  "semi": true,
  "singleQuote": true,
  // "useTabs": true,
  // "tabWidth": 4,
  // "bracketSpacing": true,
  // "arrowParens": "avoid",
  // "trailingComma": "es5",
  // "printWidth": 60,
  "proseWrap": "preserve"
}
